<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/responsive.bootstrap4.min.css}">
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>휴일 설정</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">설정</a></li>
									<li class="breadcrumb-item active" aria-current="page">휴일</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown">
								<a class="btn btn-primary" href="#" data-toggle="modal"
									data-target="#holiday-add-modal" type="button">
									휴일 추가
								</a>
							</div>
						</div>
						<div class="modal fade" id="holiday-add-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<form th:action="@{/setting/holiday}" method="post">
										<div class="modal-header">
											<h4 class="modal-title" id="myLargeModalLabel">휴일 추가</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										</div>
										<div class="modal-body">
											<div class="form-group">
												<label>명칭</label>
												<input name="holiday_name" class="form-control" type="text" placeholder="휴일 명칭을 입력하세요.">
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-12">
													<div class="form-group">
														<label>시작일</label>
														<input name="holiday_start"  id="holiday_add_start" class="form-control" placeholder="날짜 선택" type="text">
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group">
														<label>종료일</label>
														<input name="holiday_end" readonly id="holiday_add_end" class="form-control" placeholder="날짜 선택" type="text">
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
											<button type="submit" class="btn btn-primary">저장</button>
										</div>
										</form>
									</div>
								</div>
							</div>
					</div>
				</div>
				<!-- Checkbox select Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-green h4">휴일 목록</h4>
					</div>
					<div class="pb-20">
						<table class="checkbox-datatable table nowrap">
							<thead>
								<tr>
									<th><div class="dt-checkbox">
											<input type="checkbox" name="select_all" value="1" id="example-select-all">
											<span class="dt-checkbox-label"></span>
										</div>
									</th>
									<th>번호</th>
									<th>명칭</th>
									<th>시작일</th>
									<th>종료일</th>
									<th>수정</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${!#lists.isEmpty(resultList)}">
									<tr th:each="holiday, holidayStat : ${resultList}">
										<td></td>
										<td th:text="${holidayStat.count}"></td>
										<td th:text="${holiday.holiday_name}"></td>
										<td th:text="${holiday.holiday_start}"></td>
										<td th:text="${holiday.holiday_end}"></td>
										<td>
											<input class="btn btn-primary holiday-edit-btn" type="button" value="수정"
											th:attr="data-holiday_no=${holiday.holiday_no}">
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
						<a class="btn" href="#" data-toggle="modal" style="display:none;"
								data-target="#holiday-edit-modal"
								id="holiday-edit-modal-btn" type="button">
								휴일 수정
						</a>
						<div class="modal fade" id="holiday-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<form method="post">
										<div class="modal-header">
											<h4 class="modal-title" id="myLargeModalLabel">휴일 수정</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										</div>
										<div class="modal-body">
											<div class="form-group">
												<label>명칭</label>
												<input name="holiday_name" id="holiday_edit_name" class="form-control" type="text" placeholder="휴일 명칭을 입력하세요.">
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-12">
													<div class="form-group">
														<label>시작일</label>
														<input name="holiday_start" readonly id="holiday_edit_start" class="form-control" placeholder="날짜 선택" type="text">
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group">
														<label>종료일</label>
														<input name="holiday_end" readonly id="holiday_edit_end" class="form-control" placeholder="날짜 선택" type="text">
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
											<button type="submit" class="btn btn-primary">저장</button>
										</div>
										</form>
									</div>
								</div>
							</div>
					</div>
				</div>
				<!-- Checkbox select Datatable End -->
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Copyright 2024. <a href="https://github.com/devkgn88" target="_blank">김가남</a> all rights reserved.
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script>
	jQuery(document).ready(function(){
		const holidayEditBtn = document.getElementsByClassName('holiday-edit-btn');
		for(let i = 0 ; i < holidayEditBtn.length ; i++){
			holidayEditBtn[i].onclick = function(){
	            const holidayNo = this.dataset.holiday_no;
	            post('/setting/holiday/'+holidayNo)
	            .then((data) =>{
	            	const holidayEditModal = document.getElementById("holiday-edit-modal-btn");
		            holidayEditModal.click();
	            })
	            .catch((error)=>{
	            	console.log(error);
	            })
	        }
	    }
		
		async function post(path){
			const url = path;
			const options = {
				method:'get',
				headers : {
					'Content-Type':'application/json'
				}
			};
			const res = await fetch(url,options);
			const data = await res.json();
			if(res.ok){
				document.getElementById("holiday_edit_name").value = data.holiday_name;
				document.getElementById("holiday_edit_start").value = data.holiday_start;
				document.getElementById("holiday_edit_end").value = data.holiday_end;
				

				 /*
				  $('#holiday_edit_start').datepicker('show');  
				 */
				 //var inst = $.datepicker._getInst($("#holiday_edit_start")[0]);
				 //$.datepicker._get(inst, 'onSelect').apply(inst.input[0], [$("#holiday_edit_start").datepicker('getDate'), inst]);
				 //var x = new Date(2024, 9, 22, 0, 0, 0, 0);
				 //console.log(x);
				//$('#holiday_edit_start').datepicker('minDate', x);

				
			} else{
				throw Error(data);
			}
		}
	})
	</script>
</th:block>
</html>