<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/responsive.bootstrap4.min.css}">
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>휴일 설정</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">설정</a></li>
									<li class="breadcrumb-item active" aria-current="page">휴일</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<!-- Checkbox select Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-green h4">휴일 목록</h4>
					</div>
					<div class="pb-20">
						<table class="checkbox-datatable table nowrap">
							<thead>
								<tr>
									<th><div class="dt-checkbox">
											<input type="checkbox" name="select_all" value="1" id="example-select-all">
											<span class="dt-checkbox-label"></span>
										</div>
									</th>
									<th>명칭</th>
									<th>시작일</th>
									<th>종료일</th>
									<th>수정</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${!#lists.isEmpty(resultList)}">
									<tr th:each="holiday, holidayStat : ${resultList}">
										<td></td>
										<td th:text="${holiday.holiday_name}"></td>
										<td th:text="${holiday.holiday_start}"></td>
										<td th:text="${holiday.holiday_end}"></td>
										<td></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Checkbox select Datatable End -->
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Copyright 2024. <a href="https://github.com/devkgn88" target="_blank">김가남</a> all rights reserved.
			</div>
		</div>
	</div>
</th:block>
</html>