<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!-- Site favicon -->
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendors/images/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendors/images/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendors/images/favicon-16x16.png}">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/core.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/icon-font.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/style.css}">
<title>회의실 예약 시스템</title>
</head>
<body>
<th:block th:replace="~{include/header :: headerLayout}"></th:block>
<th:block th:replace="~{include/sidebar :: sideBarLayout}"></th:block>
<div class="mobile-menu-overlay"></div>
<th:block layout:fragment="content">

</th:block>
<!-- js -->
<script th:src="@{/vendors/scripts/core.js}"></script>
<script th:src="@{/vendors/scripts/script.js}"></script>
<script th:src="@{/vendors/scripts/process.js}"></script>
<script th:src="@{/vendors/scripts/layout-settings.js}"></script>


<!-- datatables -->
<script th:src="@{/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>

<!-- buttons for Export datatable -->
<script th:src="@{/plugins/datatables/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/js/buttons.flash.min.js}"></script>
<script th:src="@{/plugins/datatables/js/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/js/vfs_fonts.js}"></script>

<!-- Datatable Setting js -->
<script th:src="@{/vendors/scripts/datatable-setting.js}"></script>
</body>
</html>