<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
   <style>
        .space_info{
            border-collapse: collapse;
            text-align:center;
            border:1px solid black;
            width:100%;
        }

        .salmon_td, .blue_td, .green_td, .diagonal_lines_td, .door_td {
            border: 1px solid black;
            padding:1px 5px;
        }
        .salmon_td{background-color: rgba(233, 150, 122, 0.5);}
        .blue_td{background-color: rgba(173, 216, 230, 0.5);}
        .green_td{background-color:  honeydew;}
        .diagonal_lines_td {
            background: linear-gradient(45deg, rgba(112, 128, 144,0.5) 25%, rgba(173, 216, 230,0.5) 0, rgba(173, 216, 230,0.5) 50%,
            rgba(112, 128, 144,0.5)  0, rgba(112, 128, 144,0.5)  75%, rgba(173, 216, 230,0.5) 0 );
            background-size:9px 9px;
        }
        .red_border_badge{color:#cd3c14;border:2px solid #cd3c14;}
        .blue_border_badge{color:#17a2b8;border:2px solid #17a2b8;}
    </style>
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/responsive.bootstrap4.min.css}">
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>배정 구역</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">예약</a></li>
									<li class="breadcrumb-item active" aria-current="page">배정 구역</li>
								</ol>
							</nav>
						</div>				
					</div>
				</div>
				<!-- Contextual classes Table start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix mb-20">
						<h4 class="text-green h4">배정 구역 안내</h4>
						<div class="pull-left">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">예약이 가능한 구역은 A와 B구역입니다.</li>
								<li class="list-group-item">C구역은 모든 과정이 사용가능합니다.</li>
								<li class="list-group-item">매 시간당 2개의 과정을 A 또는 B구역에 배정합니다.</li>
								<li class="list-group-item">B구역중 사선이 있는 영역에는 PC가 없습니다.</li>
								<li class="list-group-item">민원이 발생할 경우 조정될 수 있습니다.</li>
							</ul>
						</div>
						<div class="pull-right">
						    <table class="space_info">
						        <colgroup>
						            <col width="5%"/><col width="20%"/>
						            <col width="5%"/><col width="20%"/>
						            <col width="20%"/><col width="5%"/>
						            <col width="20%"/><col width="5%"/>
						        </colgroup>
						        <tr>
						            <td>&nbsp;</td><td></td><td></td><td></td>
						            <td></td><td></td><td></td><td></td>
						        </tr>
						        <tr>
						            <td></td><td class="green_td">C구역</td>
						            <td></td><td class="blue_td">B구역</td>
						            <td class="diagonal_lines_td">B구역</td><td></td>
						            <td></td><td></td>
						        </tr>
						        <tr>
						            <td></td><td class="green_td">C구역</td>
						            <td></td><td></td><td></td><td></td>
						            <td></td><td></td>
						        </tr>
						        <tr>
						            <td></td><td class="green_td">C구역</td>
						            <td></td><td class="salmon_td">A구역</td>
						            <td class="salmon_td">A구역</td><td></td>
						            <td></td><td></td>
						        </tr>
						        <tr>
						            <td></td><td class="green_td">C구역</td>
						            <td></td><td class="salmon_td">A구역</td>
						            <td class="salmon_td">A구역</td><td></td>
						            <td></td><td></td>
						        </tr>
						        <tr>
						            <td></td><td class="green_td">C구역</td>
						            <td></td><td></td><td></td>
						            <td></td><td></td><td></td>
						        </tr>
						        <tr>
						            <td></td><td></td>
						            <td></td><td class="blue_td">B구역</td>
						            <td class="diagonal_lines_td">B구역</td><td></td>
						            <td class="door_td">출입문</td><td></td>
						        </tr>
						        <tr>
						            <td>&nbsp;</td><td></td><td></td><td></td>
						            <td></td><td></td><td></td><td></td>
						        </tr>
						    </table>
						</div>
					</div>
					<!-- <span class="badge" style="color:#cd3c14;border:2px solid #cd3c14;">84</span> -->
					<div class="table-responsive">
						<table class="table table-bordered text-center">
							<thead>
								<tr>
									<th scope="col">일시</th>
									<th colspan="2" scope="col">9/2(월)</th>
									<th colspan="2" scope="col">9/3(화)</th>
									<th colspan="2" scope="col">9/4(수)</th>
									<th colspan="2" scope="col">9/5(목)</th>
									<th colspan="2" scope="col">9/6(금)</th>
								</tr>
								<tr>
									<th scope="col">구역</th>
									<th scope="col">A</th>
									<th scope="col">B</th>
									<th scope="col">A</th>
									<th scope="col">B</th>
									<th scope="col">A</th>
									<th scope="col">B</th>
									<th scope="col">A</th>
									<th scope="col">B</th>
									<th scope="col">A</th>
									<th scope="col">B</th>																											
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">09:00~09:50</th>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge blue_border_badge">82</span></td>																																																					
									<td><span class="badge red_border_badge">84</span></td>
								</tr>
								<tr>
									<th scope="row">10:00~10:50</th>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge red_border_badge">84</span></td>
									<td><span class="badge blue_border_badge">82</span></td>
									<td><span class="badge blue_border_badge">82</span></td>																																																					
									<td><span class="badge red_border_badge">84</span></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				
				<!-- Contextual classes Table End -->
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Copyright 2024. <a href="https://github.com/devkgn88" target="_blank">김가남</a> all rights reserved.
			</div>
		</div>
	</div>
</th:block>
</html>