<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendors/images/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendors/images/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendors/images/favicon-16x16.png}">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/core.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/icon-font.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/style.css}">
	<title>회의실 예약 시스템</title>
</head>
<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="login.html">
					<img th:src="@{/vendors/images/goodee-logo.png}" alt="로고">
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="register.html">회원가입</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="align-items-center">
				<div class="login-box bg-white box-shadow border-radius-10">
					<div class="login-title">
						<h2 class="text-center text-primary">회의실 예약 시스템</h2>
					</div>
					<form action="/login" method="post">
						<div class="select-role">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn active">
									<input type="radio" name="team_type" id="admin">
									<div class="icon"><img th:src="@{/vendors/images/briefcase.svg}" class="svg" alt=""></div>
									<span>관리</span>
									매니저
								</label>
								<label class="btn">
									<input type="radio" name="team_type" id="user">
									<div class="icon"><img th:src="@{/vendors/images/person.svg}" class="svg" alt=""></div>
									<span>예약</span>
									훈련생
								</label>
							</div>
						</div>
						<div class="input-group custom">
							<input type="text" class="form-control form-control-lg" name="account_id" placeholder="아이디">
							<div class="input-group-append custom">
								<span class="input-group-text">
								<i class="icon-copy fa fa-user" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<div class="input-group custom">
							<input type="password" class="form-control form-control-lg" name="account_pw" placeholder="비밀번호">
							<div class="input-group-append custom">
								<span class="input-group-text"><i class="dw dw-padlock1"></i></span>
							</div>
						</div>
						<div class="row pb-30">
							<div class="col-6">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">로그인 유지</label>
								</div>
							</div>
							<div class="col-6">
								<div class="forgot-password"><a href="forgot-password.html">비밀번호 찾기</a></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-group mb-0">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<input class="btn btn-primary btn-lg btn-block" type="submit" value="로그인">
									
									<!-- <a class="btn btn-primary btn-lg btn-block" href="index.html">로그인</a> -->
								</div>
								<div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">또는</div>
								<div class="input-group mb-0">
									<a class="btn btn-outline-primary btn-lg btn-block" href="register.html">회원가입</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
	<script th:src="@{/vendors/scripts/core.js}"></script>
	<script th:src="@{/vendors/scripts/script.min.js}"></script>
	<script th:src="@{/vendors/scripts/process.js}"></script>
	<script th:src="@{/vendors/scripts/layout-settings.js}"></script>
</body>
</html>